	/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/12/2018 21:24
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        font-size: 45px;
font-style: normal;
/* margin-left: 20px; */
}

.flaticon-car-collision:before { content: "\f100"; }
.flaticon-diesel:before { content: "\f101"; }
.flaticon-motor:before { content: "\f102"; }
.flaticon-car-1:before { content: "\f103"; }
.flaticon-car-3:before { content: "\f104"; }
.flaticon-car-4:before { content: "\f105"; }
.flaticon-car-5:before { content: "\f106"; }
.flaticon-oil:before { content: "\f107"; }
.flaticon-car-2:before { content: "\f108"; }
.flaticon-spray:before { content: "\f109"; }
.flaticon-clutch:before { content: "\f10a"; }
.flaticon-crane:before { content: "\f10b"; }
.flaticon-car:before { content: "\f10c"; }
.flaticon-exhaust:before { content: "\f10d"; }
